<div fxLayoutGap="1em" fxLayoutAlign="start center">
  <mat-checkbox [(ngModel)]="requestView.resBodyWrap">Wrap</mat-checkbox>
  <mat-select [(ngModel)]="requestView.resDisplayMode" placeholder="Syntax">
    <mat-option *ngFor="let method of displayModes" [value]="method">{{method}}</mat-option>
  </mat-select>
  <mat-checkbox [(ngModel)]="requestView.resBodyFormat" (change)="onChangeFormat()">Format</mat-checkbox>
</div>

<div ace-editor
  [text]="displayResBody"
  [mode]="requestView.resDisplayMode"
  [theme]="'dawn'"
  [readOnly]="true"
  [options]="{
      minLines: 10,
      maxLines: 'Infinity',
      showPrintMargin: false,
      wrap: requestView.resBodyWrap
  }"
  style="display: block; width: 100%; height: 100%"></div>
