<div fxLayout="column">
  <div>
    <md-select fxFlexAlign="center">
      <md-option>GET</md-option>
    </md-select>
    <md-input-container fxFlex>
      <input mdInput placeholder="Request URL" />
    </md-input-container>
    <div fxFlexAlign="center">
      <button md-raised-button color="primary">Send</button>
    </div>
  </div>
  <md-tab-group>
    <md-tab label="Headers">
      <div>
        <md-input-container fxFlex>
          <input mdInput placeholder="Key" />
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Value" />
        </md-input-container>
      </div>
    </md-tab>
    <md-tab label="Body">Content 2</md-tab>
  </md-tab-group>
</div>