<div fxLayout="column">
  <div fxLayoutGap="1em">
    <md-select fxFlexAlign="center" [(ngModel)]="requestInfo.method">
      <md-option *ngFor="let method of httpMethods" [value]="method">{{method}}</md-option>
    </md-select>
    <md-input-container fxFlex>
      <input mdInput [(ngModel)]="requestInfo.url" placeholder="Request URL" />
    </md-input-container>
    <div fxFlexAlign="center">
      <button md-raised-button (click)="requestInfo.isOpenParams = !requestInfo.isOpenParams">Params</button>
      <button md-raised-button color="primary" (click)="send()">Send</button>
    </div>
  </div>
  <div style="background-color: #f2f4f6; padding: 1em;" *ngIf="requestInfo.isOpenParams">
    <md-tab-group>
      <md-tab label="Query">
        <div fxLayoutGap="1em" *ngFor="let param of requestInfo.queryParams; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="param.name" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="param.value"
              (focus)="addNameValue(i, requestInfo.queryParams)"
              (blur)="checkForNext(i, requestInfo.queryParams)" />
          </md-input-container>
        </div>
      </md-tab>
      <md-tab label="Url">
        <div fxLayoutGap="1em" *ngFor="let param of requestInfo.urlParams; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="param.name" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="param.value"
              (focus)="addNameValue(i, requestInfo.urlParams)"
              (blur)="checkForNext(i, requestInfo.urlParams)" />
          </md-input-container>
        </div>
      </md-tab>
    </md-tab-group>
  </div>

  <md-tab-group>
    <md-tab label="Body">
      <div fxLayoutGap="1em">
        <span>Content type</span>
        <md-select fxFlexAlign="center" [(ngModel)]="requestInfo.contentType" style="width: 200px">
          <md-option *ngFor="let type of contentTypes" [value]="type">{{type}}</md-option>
        </md-select>
      </div>
      <div ace-editor
        [text]="text"
        [mode]="'json'"
        [theme]="'tomorrow_night_eighties'"
        style="display: block; width: 100%; height: 20vh;"></div>
    </md-tab>
    <md-tab label="Headers">
      <div style="padding: 1em;">
        <!--<button md-raised-button color="accent">Authorization</button>-->
        <div fxLayoutGap="1em" *ngFor="let header of requestInfo.headers; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="header.name" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="header.value"
              (focus)="addNameValue(i, requestInfo.headers)"
              (blur)="checkForNext(i, requestInfo.headers)" />
          </md-input-container>
        </div>
      </div>
    </md-tab>
    <md-tab label="Autorization">
    </md-tab>
  </md-tab-group>
</div>