<md-tab-group dynamicHeight="true" [selectedIndex]="selectedIndex">
  <md-tab *ngFor="let requestView of requestViews; index as i">
    <ng-template md-tab-label>
      {{requestView.title}}
      <!--<button md-icon-button (click)="closeTab(i)">
        <md-icon>clear</md-icon>
      </button> TODO -->
    </ng-template>
    <div fxLayout="column" style="padding: 1em">
      <app-http-request [requestView]="requestView" [requestExpansions]="requestExpansions"></app-http-request>
      
      <p *ngIf="!requestView.isOpenResponse">
        please hit the 
        <button md-raised-button color="primary">Send</button>
        button to get a response
      </p>
      <!--<p></p>-->
      <!--style="background-color: #f2f4f6; padding: 1em;"-->
      <div *ngIf="requestView.isOpenResponse">
        Response
        <app-http-response [requestView]="requestView"></app-http-response>
      </div>
    </div>
  </md-tab>
</md-tab-group>
