<div fxLayout="column">
  <div fxLayoutGap="1em"fxLayout.lt-md="column">
    <md-select fxFlexAlign="center" [(ngModel)]="requestView.request.method">
      <md-option *ngFor="let method of httpMethods" [value]="method">{{method}}</md-option>
    </md-select>
    <md-input-container fxFlex>
      <input
        mdInput
        [(ngModel)]="requestView.requestUrl"
        (keyup)="findParams($event)"
        placeholder="Request URL"
        mdTooltip="reuqest url에서 property holder 를 {xxx}와 같은 형식으로 사용할 수 있습니다." />
    </md-input-container>
    <div fxFlexAlign="center">
      <button md-button (click)="requestView.isOpenParams = !requestView.isOpenParams">Params</button>
      <button md-raised-button color="primary" (click)="send()">Send</button>
    </div>
  </div>
  <div style="background-color: #f2f4f6; padding: 1em" *ngIf="requestView.isOpenParams">
    <!--<p>property applied request url</p>-->


    <md-tab-group [selectedIndex]="requestView.paramTebSelectedIndex">
      <md-tab>
        <ng-template md-tab-label>
          Query
          <span *ngIf="requestView.request.queryParams.length > 1">
            ({{requestView.request.queryParams.length - 1}})
          </span>
        </ng-template>
        <div style="padding: 0.5em">
          <app-name-values [nameValues]="requestView.request.queryParams" [nameValueBuilders]="queryParamBuilders"></app-name-values>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          Url
          <span *ngIf="requestView.request.urlParams.length > 1">
            ({{requestView.request.urlParams.length - 1}})
          </span>
        </ng-template>
        <div style="padding: 0.5em">
          <app-name-values [nameValues]="requestView.request.urlParams" [nameValueBuilders]="urlParamBuilders"></app-name-values>
        </div>
      </md-tab>
    </md-tab-group>
  </div>

  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label>
        <span fxLayoutAlign="center center">
          Body
          <md-icon *ngIf="requestView.request.body != '' && requestView.request.body != null">
            check_circle
          </md-icon>
        </span>
      </ng-template>
      <div style="padding: 0.5em; padding-top: 1em">
        <div fxLayoutGap="1em" fxLayoutAlign="start center">
          <md-checkbox [(ngModel)]="requestView.reqBodyWrap">Wrap</md-checkbox>
          <!--<md-checkbox>Syntax Highlight</md-checkbox>-->
          <md-select [(ngModel)]="requestView.reqDisplayMode" placeholder="Content type">
            <md-option *ngFor="let method of displayModes" [value]="method">{{method}}</md-option>
          </md-select>

          <!--<span>Content type</span>
          <md-select fxFlexAlign="center" [(ngModel)]="requestView.contentType" style="width: 200px">
            <md-option *ngFor="let type of contentTypes" [value]="type">{{type}}</md-option>
          </md-select>-->
        </div>
        <div ace-editor
          [text]="requestView.request.body"
          [mode]="requestView.reqDisplayMode"
          [theme]="'idle_fingers'"
          [options]="{
            minLines: 10,
            maxLines: 'Infinity',
            wrap: requestView.reqBodyWrap
          }"
          (textChanged)="onChange($event)"
          style="display: block; width: 100%; height: 20vh;"></div>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        Headers
        <span *ngIf="requestView.request.headers.length > 1">
          ({{requestView.request.headers.length - 1}})
        </span>
      </ng-template>
      <div style="padding: 0.5em">
        <app-name-values [nameValues]="requestView.request.headers" [nameValueBuilders]="headerBuilders"></app-name-values>
      </div>
    </md-tab>
  </md-tab-group>
</div>