<div fxLayoutGap="1em" fxLayout="row"
  *ngFor="let nameValue of nameValues; index as i"
  (mouseenter)="nameValue.showCloseButton = true"
  (mouseleave)="nameValue.showCloseButton = false">
  <md-input-container fxFlex="30">
    <input mdInput placeholder="Name" [(ngModel)]="nameValue.name"
    (focus)="addNameValue(i)"
    (keyup)="addNameValue(i);findBuilder(i)"
    (blur)="optimize()" />
  </md-input-container>
  <md-input-container fxFlex>
    <input mdInput placeholder="Value" [(ngModel)]="nameValue.value"
    (focus)="addNameValue(i)"
    (blur)="optimize()" />
  </md-input-container>
  <div fxFlexAlign="center">
    <button md-raised-button color="accent" *ngIf="nameValue.enableBuilder" (click)="openBuilder(i)">Build</button>
  </div>
  <div fxFlexAlign="center" *ngIf="nameValue.showCloseButton && nameValues.length > 1">
    <button md-icon-button (click)="remove(i)">
      <md-icon>clear</md-icon>
    </button>
  </div>
</div>