<mat-tab-group dynamicHeight="true" [selectedIndex]="selectedIndex">
	<mat-tab *ngFor="let requestView of requestViews; index as i">
		<ng-template mat-tab-label>
			<div>
				{{requestView.title}}
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="duplicateClient(i)">
						<mat-icon>content_copy</mat-icon>
						<span>Duplicate</span>
						{{menu.menu}}
					</button>
					<button mat-menu-item (click)="closeClient(i)" *ngIf="requestViews.length > 1">
						<mat-icon>close</mat-icon>
						<span>Close</span>
					</button>
				</mat-menu>
			</div>
		</ng-template>
		<div fxLayout="column" style="padding: 0.5em 1em 0.5em 1em">
			<app-http-client [requestView]="requestView" [requestExpansions]="requestExpansions"></app-http-client>
		</div>
	</mat-tab>
</mat-tab-group>
