<div fxLayout="column">
  <div fxLayoutGap="0.5em" fxLayoutAlign="start center">
    <mat-checkbox [(ngModel)]="requestView.reqBodyWrap">Wrap</mat-checkbox>
    <mat-form-field>
      <mat-select [(ngModel)]="requestView.reqDisplayMode" placeholder="Syntax">
        <mat-option *ngFor="let method of displayModes" [value]="method">{{method}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
              [(ngModel)]="requestView.reqContentType"
              (selectionChange)="onChangeRequestBodyContentType()"
              placeholder="Content type">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of contentTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" *ngIf="requestView.enableReqBodyBuilder" (click)="openReqBodyBuilder()">Build</button>
  </div>
  <div ace-editor
    [text]="requestView.request.body"
    [mode]="requestView.reqDisplayMode"
    [theme]="'dawn'"
    [options]="{
      minLines: 7,
      maxLines: '100',
      showPrintMargin: false,
      wrap: requestView.reqBodyWrap
    }"
    (textChanged)="onChange($event)"
    style="display: block; width: 100%"></div>
</div>
