<div fxLayoutGap="1em" fxLayoutAlign="start center">
  <md-checkbox [(ngModel)]="requestView.resBodyWrap">Wrap</md-checkbox>
  <md-select [(ngModel)]="requestView.resDisplayMode" placeholder="Syntax">
    <md-option *ngFor="let method of displayModes" [value]="method">{{method}}</md-option>
  </md-select>
</div>

<div ace-editor
  [text]="requestView.response.body"
  [mode]="requestView.resDisplayMode"
  [theme]="'dawn'"
  [readOnly]="true"
  [options]="{
    minLines: 10,
    maxLines: 'Infinity',
    showPrintMargin: false,
    wrap: requestView.resBodyWrap
  }"
  style="display: block; width: 100%; height: 100%"></div>