<div fxLayoutGap="1em" fxLayoutAlign="start center">
  <md-checkbox [(ngModel)]="requestView.resBodyWrap">Wrap</md-checkbox>
  <md-select [(ngModel)]="requestView.resDisplayMode" placeholder="Syntax">
    <md-option *ngFor="let method of displayModes" [value]="method">{{method}}</md-option>
  </md-select>
  <md-checkbox [(ngModel)]="requestView.resBodyFormat" (change)="onChangeFormat()">Format</md-checkbox>
</div>

<div ace-editor
  [text]="displayResBody"
  [mode]="requestView.resDisplayMode"
  [theme]="'dawn'"
  [readOnly]="true"
  [options]="aceOption"
  style="display: block; width: 100%; height: 100%"></div>