<mat-tab-group dynamicHeight="true" [selectedIndex]="selectedIndex">
	<mat-tab *ngFor="let clientTab of clientTabs; index as i">
		<ng-template mat-tab-label>
			<div>
				{{clientTab.name}}
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="duplicateClient(i)">
						<mat-icon>content_copy</mat-icon>
						<span>Duplicate</span>
						{{menu.menu}}
					</button>
					<button mat-menu-item (click)="closeClient(i)" *ngIf="clientTabs.length > 1">
						<mat-icon>close</mat-icon>
						<span>Close</span>
					</button>
				</mat-menu>
			</div>
		</ng-template>
		<div fxLayout="column" style="padding: 0.5em">
			<mint-http-client
				[config]="clientTabs[i].httpClientConfig"
				[requestView]="clientTabs[i].requestView"></mint-http-client>
		</div>
	</mat-tab>
</mat-tab-group>
