<h1 md-dialog-title>Authorization Value builder</h1>

<div>
  <md-select placeholder="Auth type" fxFlex [(ngModel)]="authBuilderView.selectedAuthType">
    <md-option [value]="NoAuth">No Auth</md-option>
    <md-option *ngFor="let authType of authTypes" [value]="authType.value">{{authType.name}}</md-option>
  </md-select>
</div>

<div *ngIf="authBuilderView.selectedAuthType == 'BasicAuth'">
  <div md-dialog-content>
    <h2>Basic Auth</h2>
    <div>
      <md-input-container>
        <input mdInput placeholder="Username" [(ngModel)]="authBuilderView.account.username" />
      </md-input-container>
    </div>
    <div>
    <md-input-container>
      <input mdInput placeholder="Password" [(ngModel)]="authBuilderView.account.password" />
    </md-input-container>
    </div>
  </div>
</div>
<div md-dialog-actions fxLayoutGap="1em">
  <button md-raised-button color="accent" *ngIf="authBuilderView.selectedAuthType != null" (click)="apply()">apply</button>
  <button md-raised-button (click)="close()">cancle</button>
</div>