<h1 mat-dialog-title>Basic Auth</h1>

<div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="basicAuthView.username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="basicAuthView.password" />
    </mat-form-field>
</div>

<div mat-dialog-actions fxLayoutGap="1em">
  <button mat-raised-button color="accent" (click)="apply()">apply</button>
  <button mat-raised-button (click)="close()">cancle</button>
</div>
