<md-tab-group>
  <md-tab label="Request-1">
    <div fxLayout="column">
        <app-http-request [requestInfo]="requestInfo"></app-http-request>
        
        <p *ngIf="!requestInfo.isOpenResponse">
          please hit the 
          <button md-raised-button disabled>Send</button>
          button to get a response
        </p>
        <p></p>
        <div style="background-color: #f2f4f6; padding: 1em;" *ngIf="requestInfo.isOpenResponse">
          Response
          <app-http-response></app-http-response>
        </div>
    </div>
  </md-tab>
  <md-tab label="Request-2">
  </md-tab>
</md-tab-group>
