<div fxLayout="column" fxLayoutGap="0.5em" fxLayoutGap.gt-sm="0">
  <div fxLayoutGap.gt-sm="0.5em" fxLayout.gt-sm="row" fxLayout="column"
       fxLayoutAlign.gt-sm=" center">
    <mat-form-field>
      <mat-select [(ngModel)]="requestView.request.method" placeholder="request method">
        <mat-option *ngFor="let method of httpMethods" [value]="method">{{method}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex fxFlexFill>
      <!-- <input
        mdInput
        [(ngModel)]="requestView.requestUrl"
        (keyup)="findParams($event)"
        placeholder="Request URL"
        mdTooltip="reuqest url에서 property holder 를 {...}와 같은 형식으로 사용할 수 있습니다." /> -->
      <textarea matInput
                matTextareaAutosize
                [(ngModel)]="requestView.requestUrl"
                (keydown)="sendCheck($event)"
                (keyup)="findParams($event)"
                placeholder="Request URL"
                matTooltip="reuqest url에서 property holder 를 {...}와 같은 형식으로 사용할 수 있습니다."></textarea>
    </mat-form-field>
    <button mat-button (click)="requestView.isOpenParams = !requestView.isOpenParams" [disabled]="requestView.requestStatus == RequestStatus.Sending">
      Params
      <mat-icon *ngIf="requestView.isOpenParams">expand_less</mat-icon>
      <mat-icon *ngIf="!requestView.isOpenParams">expand_more</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="send()"
            [disabled]="requestView.requestStatus == RequestStatus.Sending"
            fxHide fxShow.gt-sm>
      Send
    </button>
  </div>

  <div style="background-color: #f2f4f6; padding: 0.5em" *ngIf="requestView.isOpenParams">
    <mat-tab-group [selectedIndex]="requestView.paramTebSelectedIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          Query
          <span *ngIf="requestView.request.queryParams.length > 1">
            ({{requestView.request.queryParams.length - 1}})
          </span>
        </ng-template>
        <div style="padding: 0.5em">
          <mint-name-values [nameValues]="requestView.request.queryParams" [nameValueBuilders]="queryParamBuilders"></mint-name-values>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Url
          <span *ngIf="requestView.request.urlParams.length > 1">
            ({{requestView.request.urlParams.length - 1}})
          </span>
        </ng-template>
        <div style="padding: 0.5em">
          <mint-name-values [nameValues]="requestView.request.urlParams" [nameValueBuilders]="urlParamBuilders"></mint-name-values>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div style="height: 0.5em" fxHide fxShow.gt-sm *ngIf="requestView.isOpenParams"></div>

  <button mat-raised-button color="primary" (click)="send()"
          [disabled]="requestView.requestStatus == RequestStatus.Sending"
          fxShow fxHide.gt-sm>
    Send
  </button>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span fxLayoutAlign="center center">
          Body
          <mat-icon *ngIf="requestView.request.body != '' && requestView.request.body != null">
            done
          </mat-icon>
        </span>
      </ng-template>
      <div fxLayout="column" style="padding: 0.5em">
        <mint-request-body [requestView]="requestView" [reqBodyBuilders]="reqBodyBuilders"></mint-request-body>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Headers
        <span *ngIf="requestView.request.headers.length > 1">
          ({{requestView.request.headers.length - 1}})
        </span>
      </ng-template>
      <div style="padding: 0.5em">
        <mint-name-values [nameValues]="requestView.request.headers" [nameValueBuilders]="headerBuilders"></mint-name-values>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
