<h1 md-dialog-title>{{builderView.title}}</h1>

<div md-dialog-content>
  <md-select
    fxFlex
    placeholder="{{builderView.name}} select"
    [(ngModel)]="builderView.selectedBuilder">
    <md-option [value]="noSelect">No Select</md-option>
    <md-option *ngFor="let builder of builderView.builders" [value]="builder">{{builder.name}}</md-option>
  </md-select>
</div>

<div md-dialog-actions fxLayoutGap="1em">
  <button md-raised-button color="accent" *ngIf="builderView.selectedBuilder != null" (click)="openBuilder()">Select</button>
  <button md-raised-button (click)="close()">Cancle</button>
</div>