<div fxLayout="column">
  <div fxLayoutGap="1em">
    <md-select fxFlexAlign="center" [(ngModel)]="requestView.request.method">
      <md-option *ngFor="let method of httpMethods" [value]="method">{{method}}</md-option>
    </md-select>
    <md-input-container fxFlex>
      <input mdInput [(ngModel)]="requestView.request.url" placeholder="Request URL" />
    </md-input-container>
    <div fxFlexAlign="center">
      <button md-raised-button (click)="requestView.isOpenParams = !requestView.isOpenParams">Params</button>
      <button md-raised-button color="primary" (click)="send()">Send</button>
      <!--<button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <span>Action</span>
        </button>
      </md-menu> TODO -->
    </div>
  </div>
  <div style="background-color: #f2f4f6; padding: 1em" *ngIf="requestView.isOpenParams">
    <md-tab-group>
      <md-tab>
        <ng-template md-tab-label>
          Query
          <span *ngIf="requestView.request.queryParams.length > 1">
            ({{requestView.request.queryParams.length - 1}})
          </span>
        </ng-template>
        <div fxLayoutGap="1em" *ngFor="let param of requestView.request.queryParams; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="param.name" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="param.value"
              (focus)="addNameValue(i, requestView.request.queryParams)"
              (blur)="checkForNext(i, requestView.request.queryParams)" />
          </md-input-container>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          Url
          <span *ngIf="requestView.request.urlParams.length > 1">
            ({{requestView.request.urlParams.length - 1}})
          </span>
        </ng-template>
        <div fxLayoutGap="1em" *ngFor="let param of requestView.request.urlParams; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="param.name" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="param.value"
              (focus)="addNameValue(i, requestView.request.urlParams)"
              (blur)="checkForNext(i, requestView.request.urlParams)" />
          </md-input-container>
        </div>
      </md-tab>
    </md-tab-group>
  </div>

  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label>
        <span fxLayoutAlign="center center">
          Body <md-icon *ngIf="requestView.request.body != null">done</md-icon>
        </span>
      </ng-template>
      <div style="padding: 0.5em">
        <div fxLayoutGap="1em" fxLayoutAlign="start center">
          <md-checkbox [(ngModel)]="requestView.reqBodyWrap">Wrap</md-checkbox>
          <md-checkbox>Syntax Hightligh</md-checkbox>
          <md-select [(ngModel)]="requestView.reqDisplayMode">
            <md-option *ngFor="let method of displayModes" [value]="method">{{method}}</md-option>
          </md-select>

          <span>Content type</span>
          <md-select fxFlexAlign="center" [(ngModel)]="requestView.contentType" style="width: 200px">
            <md-option *ngFor="let type of contentTypes" [value]="type">{{type}}</md-option>
          </md-select>
        </div>
        <div ace-editor
          [text]="text"
          [mode]="requestView.reqDisplayMode"
          [theme]="'idle_fingers'"
          [options]="{
            minLines: 10,
            maxLines: 'Infinity',
            wrap: requestView.reqBodyWrap
          }"
          style="display: block; width: 100%; height: 20vh;"></div>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        Headers
        <span *ngIf="requestView.request.headers.length > 1">
          ({{requestView.request.headers.length - 1}})
        </span>
      </ng-template>
      <div style="padding: 0.5em">
        <!--<button md-raised-button color="accent">Authorization</button>-->
        <div fxLayoutGap="1em" *ngFor="let header of requestView.request.headers; index as i">
          <md-input-container fxFlex>
            <input mdInput placeholder="Name" [(ngModel)]="header.name" (keyup)="findHeaderBuilder(header.name)" />
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Value" [(ngModel)]="header.value"
              (focus)="addNameValue(i, requestView.request.headers)"
              (blur)="checkForNext(i, requestView.request.headers)" />
          </md-input-container>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>