<!--<div fxLayout="row" fxLayoutGap="1em">
    <p>Status: <span>{{requestView.response.status}}</span></p>
    <p>Status text: <span>{{requestView.response.statusText}}</span></p>
</div>-->

<p *ngIf="requestView.requestStatus == RequestStatus.PreSend">
  please hit the 
  <button md-raised-button color="primary">Send</button>
  button to get a response
</p>

<div *ngIf="requestView.requestStatus == RequestStatus.Sending">
  <h1>Sending...</h1>
  <md-spinner></md-spinner>
</div>

<div *ngIf="requestView.requestStatus == RequestStatus.SendSuccess" fxLayout="column" fxLayoutGap="1em">
  <b>Response</b>
  <md-toolbar>
    <div fxLayout="row" fxLayoutGap="1em">
      <span>
        <b>Status: </b> {{requestView.response.status}} {{requestView.response.statusText}}
      </span>
      <span>
        <b>elapse time: </b> {{requestView.response.elapseTime}} ms
      </span>
    </div>
  </md-toolbar>

  <md-tab-group dynamicHeight="true">
    <md-tab>
      <ng-template md-tab-label>
        <span fxLayoutAlign="center center">
          Body
          <md-icon *ngIf="requestView.response.body != '' && requestView.response.body != null">
            check_circle
          </md-icon>
        </span>
      </ng-template>

      <div fxLayoutGap="1em" fxLayout="column" style="padding: 0.5em; padding-top: 1em">
        <md-radio-group *ngIf="matchedResBodyViewers.length > 1"
          fxLayoutGap="1em"
          [(ngModel)]="selectedBodyViewer">
          <md-radio-button [value]="resBodyVeiwer" *ngFor="let resBodyVeiwer of matchedResBodyViewers">{{resBodyVeiwer.name}}</md-radio-button>
        </md-radio-group>

        <div
          *ngFor="let resBodyVeiwer of matchedResBodyViewers"
          [hidden]="selectedBodyViewer != resBodyVeiwer">
          <ng-template body-viewer-host
            [bodyViewer]="resBodyVeiwer" [requestView]="requestView"></ng-template>
        </div>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        Headers ({{requestView.response.headers.length}})
      </ng-template>
      <div style="padding: 0.5em">
        <p *ngFor="let header of requestView.response.headers">
          <b>{{header.name}}</b>: {{header.value}}
        </p>
      </div>
    </md-tab>
  </md-tab-group>
</div>