<!--<div fxLayout="row" fxLayoutGap="1em">
    <p>Status: <span>{{requestView.response.status}}</span></p>
    <p>Status text: <span>{{requestView.response.statusText}}</span></p>
</div>-->

<md-toolbar color="primary">
  <div fxLayout="row" fxLayoutGap="1em">
    <span>
      <b>Status: </b> {{requestView.response.status}} {{requestView.response.statusText}}
    </span>
    <span>
      <b>elapse time: </b> {{requestView.response.elapseTime}} ms
    </span>
  </div>
</md-toolbar>


<md-tab-group dynamicHeight="true">
  <md-tab>
    <ng-template md-tab-label>
      <span fxLayoutAlign="center center">
        Body
        <md-icon *ngIf="requestView.response.body != '' && requestView.response.body != null">
          check_circle
        </md-icon>
      </span>
    </ng-template>

    <div fxLayoutGap="1em" fxLayout="column" style="padding: 0.5em">
      <md-radio-group>
        <md-radio-button>Basic</md-radio-button>
        <md-radio-button *ngFor="let resBodyVeiwer of resBodyVeiwers[requestView.resContentType]">{{resBodyVeiwer.name}}</md-radio-button>
      </md-radio-group>


      <div fxLayoutGap="1em" fxLayoutAlign="start center">
        <!--<md-radio-group [(ngModel)]="requestView.resDisplayMethod">
          <md-radio-button [value]="'formatted'">Formatted</md-radio-button>
          <md-radio-button [value]="'raw'">Raw</md-radio-button>
        </md-radio-group>

        <md-select [(ngModel)]="requestView.resDisplayMode">
          <md-option *ngFor="let method of resDisplayModes" [value]="method">{{method}}</md-option>
        </md-select>-->
        <!--<md-checkbox>Wrap</md-checkbox>-->
        
        <!--<md-checkbox>Pretty</md-checkbox>-->
        <md-checkbox [(ngModel)]="requestView.resBodyWrap">Wrap</md-checkbox>
        <!--<md-checkbox [(ngModel)]="requestView.resSyntaxHightlight">Syntax Highlight</md-checkbox>-->
        <md-select [(ngModel)]="requestView.resDisplayMode" placeholder="Syntax">
          <md-option *ngFor="let method of displayModes" [value]="method">{{method}}</md-option>
        </md-select>
      </div>

      <div ace-editor
        [text]="requestView.response.body"
        [mode]="requestView.resDisplayMode"
        [theme]="'dawn'"
        [readOnly]="true"
        [options]="{
          minLines: 10,
          maxLines: 'Infinity',
          showPrintMargin: false,
          wrap: requestView.resBodyWrap
        }"
        style="display: block; width: 100%; height: 100%"></div>
    </div>


    <!--<div *ngIf="requestView.resDisplayMethod == 'formatted'"
      ace-editor
      [text]="requestView.response.body"
      [mode]="'json'"
      [theme]="'tomorrow_night_eighties'"
      [readOnly]="true"
      style="display: block; width: 100%; height: 20vh;"></div>
      
    <div *ngIf="requestView.resDisplayMethod == 'raw'">
      {{requestView.response.body}}
    </div>-->

  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Headers ({{requestView.response.headers.length}})
    </ng-template>
    <div style="padding: 0.5em">
      <p *ngFor="let header of requestView.response.headers">
        <b>{{header.name}}</b>: {{header.value}}
      </p>
    </div>
  </md-tab>
</md-tab-group>
